voter-default {
    background-color: darkgray;
    color: green($color: #000000);
}

voter-upvoted {
    // @extend .alert-success;
}

voter-downvoted {
    // @extend .alert-danger;
}

.comment-body {
    font-size: 13px;
    width: 100%;
}

.comment-seperator {
    border: 0;
    clear:both;
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    width: 100%;               
    background-color:#d6d8d9;
    height: 1px;
}

.comment-author-badge {
    background-color: #101357;
    color: lightblue;
    font-size: 13px;
    font-weight: 400;
}

.comment-author-badge:hover {
    color: fade-out($color: white, $amount: 0.1);
    font-size: 13px;
    font-weight: 400;
}

.author-card {
    width: 25%;
    background: #101357;
    float: right;
    padding: 8px;
    border-radius: 4px;
}

.author-card img {
    border: 2px solid #c0d6ff;
    border-radius: 2px;
}

.font-13 {
    font-size: 13px;
}

.author-date {
    
    color: white;
}

.author-username a { 
    color:lightblue !important; 
    text-decoration: none !important;
}
.author-username a:hover { 
    color:white !important; 
}

a {
    text-decoration: none;
}

a:hover {
    color: fade-out($color: lightblue, $amount: 0.1);
}

.markdown-content {
    width: 100%;
}

.answer-body {
    width: 100%;
}

.pull-right {
    float: right !important;
}

.preview-answer {
    min-height: 165px;
}

.maxout-min-width {
    min-width: 100%;
}