.vote-btn {
    color: inherit;
    cursor: pointer;
}

.pull-left {
    float:left;
}

.pull-right {
    float: right;
}

.vote-icon {
    font-size: 2rem;
    transition: font-size 0.2s ease;
}

.vote-icon:hover{
    font-size: 2.2rem;
    transition: font-size 0.2s ease;
}

.vote-icon-comment {
    font-size: 0.9rem;
    transition: font-size 0.2s ease;
}

.vote-icon-comment:hover{
    font-size: 1rem;
    transition: font-size 0.2s ease;
}

