/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.login-bg {
    background-color: #e6e6e6 !important;
}

.btn {
    border-color: darkslategray;
    background-color: transparent;
    color: darkslategray;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 600;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    display: block;
    border: none;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.16),0 0 10px 0 rgba(0, 0, 0, 0.16);
    transition: box-shadow .25s;
}

.card-body{
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.9;
  color: black;
}
  
.btn:hover {
    border-color: darkslategray;
    background-color: darkslategray;
    color: whitesmoke;
}

h1,h2,h3,h4 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 900;
}

