/* You can add global styles to this file, and also import other style files */
@import "./app/fontawesome/scss/fontawesome.scss";
@import "./app/fontawesome/scss/solid.scss";
@import "./app/utilities/shared_variables.scss";
@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap";

html,
body {
  min-height: 100%;
}

p,
h5,
h6,
body,
footer,
a {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #ebebeb !important;
}

.fill-wh-body {
  padding: 0;
  /* margin: 0; */
  width: 100%;
  height: 90vh;
}

//body tags used in renderer2

.login-bg {
  // background-color: #e6e6e6 !important;
  background-image: url(https://gist.githubusercontent.com/gauravghongde/a6b65db1813cacedd013525f1c155ca3/raw/c8021b656008402e374da5eb790535835d27c328/backdrop1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.loader-body {
  overflow: hidden;
}

// modified bootstrap

.btn-hollow-color-dark-blue {
  border-color: $dn-dark-blue;
  background-color: transparent;
  color: $dn-dark-blue;
}

.btn-hollow-color-dark-blue:hover {
  border-color: $dn-dark-blue;
  background-color: $dn-dark-blue;
  color: whitesmoke;
}

.btn-hollow-color-light-blue {
  border-color: $dn-light-blue;
  background-color: transparent;
  color: $dn-light-blue;
}

.btn-hollow-color-light-blue:hover {
  border-color: $dn-light-blue;
  background-color: $dn-light-blue;
  color: whitesmoke;
}

.btn-hollow-color-yellow {
  border-color: $dn-yellow;
  background-color: transparent;
  color: $dn-yellow;
}

.btn-hollow-color-yellow:hover {
  border-color: $dn-yellow;
  background-color: $dn-yellow;
  color: whitesmoke;
}

.btn-hollow-color-green {
  border-color: $dn-green;
  background-color: transparent;
  color: $dn-green;
}

.btn-hollow-color-green:hover {
  border-color: $dn-green;
  background-color: $dn-green;
  color: whitesmoke;
}

.btn-color-green {
  border-color: $dn-green;
  background-color: $dn-green;
  color: whitesmoke;
}

.btn-color-green:hover {
  border-color: $dn-green;
  background-color: transparent;
  color: $dn-green;
}

.btn-hollow-color-pink {
  border-color: $dn-pink;
  background-color: transparent;
  color: $dn-pink;
}

.btn-hollow-color-pink:hover {
  border-color: $dn-pink;
  background-color: $dn-pink;
  color: whitesmoke;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 20px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  position: inherit;
  display: block;
  border: none;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.25s;
}

.card-body {
  border-radius: 8px;
  background-color: #fff;
  opacity: 0.9;
  color: black;
}

.col {
  position: inherit;
}

.maxout-min-width {
  min-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 900;
}

.dn-alert-danger {
  padding: 6px;
  margin: 0px;
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  border-left-width: 3px;
  border-left-color: #ca4d59;
  overflow: hidden;
}

textarea {
  font-size: medium !important;
  font-family: monospace;
}

//Spinner Loader
.spinner-loader {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spinner-loader-spin 2s linear infinite; /* Safari */
  animation: spinner-loader-spin 2s linear infinite;
  overflow: hidden;
}

/* Safari */
@-webkit-keyframes spinner-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// positional ===================

.xy-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// vertical-bars-loader

.vertical-bars-loader,
.vertical-bars-loader:before,
.vertical-bars-loader:after {
  background: $dn-dark-blue-75;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.vertical-bars-loader {
  color: $dn-dark-blue-75;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 8px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.vertical-bars-loader:before,
.vertical-bars-loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.vertical-bars-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.vertical-bars-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
