<div class="flex-center-hv h-100">
  <div class="card col-md-3 align-self-center">
    <div class="card-body">
      <div class="pb-3">
        Checkout the source-code on Github
      </div>
      <img class="logo-btn-md" src="https://docs.exosite.com/development/tools/github/github.png">
      <hr />
      <a href="https://github.com/gauravghongde/devnetApp" class="btn mr-3 btn-hollow-color-dark-blue"
        target="_blank">UI
        <i class="fas fa-external-link-alt"></i>
      </a>
      <a href="https://github.com/gauravghongde/devnet" class="btn btn-hollow-color-light-blue" target="_blank">API
        <i class="fas fa-external-link-alt"></i>
      </a>
    </div>
    <div class="card-footer">
      Made with ❤ in India
    </div>
  </div>
</div>
